.error {
	display:inline-block;
	color:red;
	margin: 5px;
	vertical-align: top;
}

html {
	position:relative;
	min-height:100%;
	height:100%;
	overflow:auto;
}

body {
	margin:0;
	padding:0;
}

.navbar {
	background-color: rgba(255,255,255,0.9);
}

.content {
	background-color: rgba(255,255,255,0.9);
	position:relative;
	margin-top:15px;
	padding-bottom:10px;
}

.login-img {
	background: url(../images/law-books.jpg) no-repeat center center fixed;
  	background-size: cover;
}

.background-img {
	background: url(../images/lady-justice.jpg) no-repeat center center fixed;
  	background-size: cover;
}

.background-mask {
	background: linear-gradient(
        45deg,
        rgba(9, 32, 63, 0.7),
        rgba(83, 120, 149, 0.7) 100%
      );
	min-height:100vh;
	background-size: cover !important;
	padding-bottom:15px;
}

.pagination {
	display:block;
	text-align:center;
}

.page-item {
	display:inline-block;
}

.btn-group {
	background:white;
}

td {
	padding-right:10px;
}

#homeCalendar {
	display:block;
	height:70%;
	overflow-y:auto;
}

.navbar-brand {
	font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}